# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [5]:
print("Hello World", 10, True, 10.0)

Hello World 10 True 10.0

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [7]:
print(f"string vlaue - {int(20)} - {bool(True)}")

string vlaue - 20 - True

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [11]:
print("Hello",end=" ")
print(10,end=" ")
print(10.00,end=" ")

Hello 10 10.0

4) Can a python print function take no value to print???

In [25]:
print() #yes

# TOPIC :Variables

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [29]:
name = "Ahmed"
age = 30
profession = "Lawyer"
graduation_year = 2005
firm_name = "The Himalya Associates"
firm_joining_year = 2015
firm_location = "Karachi"
height = 5.10
weight = 70600
salary = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [31]:
current_year = 2025

print(current_year - graduation_year)

20

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [35]:
print(current_year - firm_joining_year)

10

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [81]:
dollar = 281
salary_in_dollar = salary / dollar
print(f"{salary_in_dollar:.2f}")

711.74

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [111]:
#type your code here 
type_of_income = type(salary_in_dollar)
print(type_of_income)

if type_of_income is float:
    salary_in_dollar = int(salary_in_dollar)
    print("type_of_income:", type_of_income)

<class 'int'>

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [123]:
type_of_weight = type(weight)
print(type_of_weight)
int(weight)

num = "22"
print(type(num))

num = int(num)
print(type(num))

<class 'int'>
<class 'str'>
<class 'int'>

print the year of birth of Mr. Ahmed.

In [125]:
#type your code here
print(2025 - age)

1995

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [135]:
#type your 
print(100 % 6)
print("100 can't be divided euqlly in 6 students")

4
100 can't be divided euqlly in 6 students

# Topic: User input

13) Take students detail as user input on console. Like 
name 
father name 
contact
email
Course
Address
Days 
Timings 
And print a formatted id card of student 


                                 Saylani Mass IT Training Program
                                 _________________________________
                                         Zaitoon Ashraf IT Park
                    Student Name: Abdullah Khan
                    Father Name : Amanullah Khan
                    Course      : Data Science and Artificial Intelligence 
                    Days        : Monday & Thursday 
                    Timings     : 7pm - 10pm
                    Email       : abdullah_khan@gmail.com
                    Contact     : 1234567890
                    Address     : Flat 201, Roha Arcade, CA
                    
                    
                    Saylani Welfare International Trust Head Office (Bahadurabad Karachi)

In [148]:
# Collect student details
name = input("Enter Student Name: ")
father_name = input("Enter Father's Name: ")
contact = input("Enter Contact Number: ")
email = input("Enter Email: ")
course = input("Enter Course Name: ")
address = input("Enter Address: ")
days = input("Enter Class Days (e.g. Monday & Thursday): ")
timings = input("Enter Class Timings (e.g. 7pm - 10pm): ")

# Print the formatted ID card with alignment
print("\n" + " " * 25 + "Saylani Mass IT Training Program")
print(" " * 25 + "_" * 40)
print(" " * 33 + "Zaitoon Ashraf IT Park")
print(f"{'Student Name':<15}: {name}")
print(f"{'Father Name' :<15}: {father_name}")
print(f"{'Course'      :<15}: {course}")
print(f"{'Days'        :<15}: {days}")
print(f"{'Timings'     :<15}: {timings}")
print(f"{'Email'       :<15}: {email}")
print(f"{'Contact'     :<15}: {contact}")
print(f"{'Address'     :<15}: {address}")
print("\n" + " " * 12 + "Saylani Welfare International Trust Head Office (Bahadurabad Karachi)")

KeyboardInterrupt

# Topic : Operators and Expression with ambiguity

14 ) What is the output of print(2 * 3 ** 3 * 4)

a) 216 -
b )864

15 ) What is the output of the expression  print(-18 // 4)
a) -4
b)  4
c) -5 -
d)  5

16) 
x = 6
y = 2
print(x ** y) 36
print(x // y) 3


a) 66
   0
    
b) 36
   0
    
c) 66
    3
    
d)  36
    3

17)
What is the output of print(10 - 4 * 2)

 a) 2
 b) 12

2

18 ) What is the output of print(2%6)

 a) ValueError -
 b) 0.33
 c) 2

19) What is the value of the following Python Expression

  print(36 / 4)

 a) 9.0
 b) 9

## Run the code in the following cells and see the results

### Example

- print(2 * 3 ** 3 * 4)
- print(-18 // 4)
- x = 6
- y = 2
- print(x ** y) 
- print(x // y) 
- print(10 - 4 * 2)
- print(2%6)